---
import Layout from '../layouts/Layout.astro';
import newSvg from '../assets/new.svg';
---

<Layout>
	<main class="hero-container">
		<div class="content-wrapper">
			<div class="image-container">
				<img
					src="/images/shadowpic.png"
					alt="Untitled Artwork"
					class="hero-image"
				/>
				<img src={newSvg.src} alt="New" class="new-badge" />
			</div>

			<div class="hero-text">
				<h1>
					Zeeshan Chatur
				</h1>
				<div class="social-icons">
					<a href="https://github.com/z3300" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
						<i class="fab fa-github social-icon"></i>
					</a>
					<a href="mailto:zeeshanchatur@gmail.com" aria-label="Email">
						<i class="fas fa-envelope social-icon"></i>
					</a>
					<a href="https://linkedin.com/in/zeeshanchatur" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
						<i class="fab fa-linkedin social-icon"></i>
					</a>
					<a href="https://twitter.com/zeechatur" target="_blank" rel="noopener noreferrer" aria-label="Twitter">
						<i class="fab fa-twitter social-icon"></i>
					</a>
					<a href="https://open.spotify.com/user/zee133" target="_blank" rel="noopener noreferrer" aria-label="Spotify">
						<i class="fab fa-spotify social-icon"></i>
					</a>
				</div>
			</div>
		</div>
	</main>
</Layout>

<style>
	@keyframes flash {
		50% {
			opacity: 0;
		}
	}
	.hero-container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		padding: 2rem;
		overflow: hidden;
		position: relative;
		z-index: 1;
	}

	.content-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem; /* Reduced gap to push text closer to image */
	}

	.image-container {
		position: relative;
		display: inline-block;
		width: 70%;

	}

	.new-badge {
		position: absolute;
		top: 10%;
		left:-5%;
		width: 25%;
		height: auto;
		animation: flash 1.2s infinite;
		pointer-events: none;
		/* filter: invert(14%) sepia(95%) saturate(6932%) hue-rotate(358deg) brightness(97%) contrast(113%); /* Makes SVG red */
	}

	.hero-image {
		max-width: 100%;
		max-height: 70vh;
		width: auto;
		height: auto;
		object-fit: contain;
		display: block;
		/* Add a small drop shadow to the image only */
	}

	.hero-text {
		text-align: center;
		margin-top: -5rem; /* Added negative margin to pull text up */
	}

	.social-icons {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1.5rem;
		margin-top: 1rem;
	}

	.social-icon {
		font-size: 2rem;
		color: #000000;
		transition: color 0.1s ease, transform 0.1s ease;
	}

	.social-icon:hover {
		color: #949494;
	}

	@media (max-width: 768px) {
		.image-container {
			width: 95%;
		}
		.hero-image {
			max-width: 100%;
			max-height: 60vh;
		}
		
		.hero-container {
			padding: 0.5rem;
		}
		.new-badge {
			right: 10%;
			width: 25%;
		}

		.social-icons {
			gap: 1rem;
		}

		.social-icon {
			font-size: 1.8rem;
		}
	}
</style>
